@charset "UTF-8";

*{
margin:0;
padding: 0;
}

#bg{

padding: auto;
position: absolute;
left: 50%;
margin-left: -679px;   /*剪掉圖片一半寬使其水平置中*/
z-index: -1;

}

#chair{
z-index: 1;
position: fixed;
top: 10vh;
}