@charset "UTF-8";

*{
margin:0;
padding: 0;
}

#menu_bg{
display: flex;
flex-direction:row;
line-height:40px;
justify-content: space-between;
width:100%;
height: 80px;
left: 0;
top:0;
z-index: 0;
}



#bg{
text-align:center;
height: 520px;
margin:0 auto;   /*剪掉圖片一半寬使其水平置中*/
margin-bottom: 0;
z-index: -1;
}

#bg img{
    height: 500px;
    width: auto;
    margin-bottom: 0;
}
#product_info{
    text-align: center;
    margin:0 auto; 
    width: 1360px;
    height:80px;
    background-color:#F2EEE5;
    margin-bottom: 20px;
    line-height:40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9B9B9B;
}



.scroll_box {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:wrap;
    padding-top: 0;
    text-align:center;
    margin: 0 auto;
    margin-top: 0px;
    padding-top: 0;
    bottom: 0;
    width:1360px;
    height: calc(100vh - 700px);
    background-color:#FFFFFF;
    overflow:auto;
    }

      .grid-container {      
        width:100%;
        justify-content: center;
        align-items: center; 
        display: grid;
        grid-template-columns: 1.3fr 1.3fr 1.3fr 1.3fr 1.3fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". Room Product Sale Contact user heart shop"
          ". . . . . . . ."
          ". . . . . . . .";
      }
      .Room { grid-area: Room; }
      .Product { grid-area: Product; }
      .Sale { grid-area: Sale; }
      .Contact { grid-area: Contact; }
      .user { grid-area: user; }
      .heart { grid-area: heart; }
      .shop { grid-area: shop; }